{% extends 'base.html' %}
 
{% block body %}    
    <div id="detailsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 id="contactModalLabel">Survey Response</h3>
        </div>
        <div class="modal-body">
            <div id="surveyResponse" style="margin-bottom: 10px">
            </div>
        </div>
        <div class="modal-footer">
            <span id="statusMsg" style="color:#ff0000;float:left;">Management Comments can not be empty.</span>
            <button id="saveComments" class="btn">Save &amp; Close</button>
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
